.bg-primary{
    background-color: #F6BE23 !important;
}

.modal-lg-custom {
    max-width: 80%; /* Define a largura como 80% da tela */
}

/* Efeito Active para o Botão da Navbar */
.navbar-nav .nav-item.active .nav-link {
    background-color: #d6a51d; /* Sua cor de fundo personalizada */
    font-size: 1.2rem;
  /* Cor do texto para o estado Active (branco, por exemplo) */
    /* Adicione outros estilos conforme necessário */
    border-radius: 20%;
}

/* Adicional: Efeito de hover para o Botão da Navbar */
.navbar-nav .nav-item .nav-link:hover {
    background-color: #E1A21E; /* Cor de fundo ao passar o mouse */
    color: #ffffff; /* Cor do texto ao passar o mouse */
    /* Adicione outros estilos conforme necessário */
}
 
 .custom-select2-dropdown{
  z-index: 10000 !important;
 }
 .total-venda {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 2rem;
    background-color: rgb(228, 152, 54);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* table{
    table-layout:fixed;
    width: 100%;
} */
